
/*-----------白黒にする-----------*/

img {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}
/*-------------背景右から左へ---------------*/
.btn05{
    overflow: hidden;
}
 
.btn05:before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #333;
    transition: .2s;
}
 
.btn05:hover{
    color: #fff;
}
 
.btn05:hover:before{
    left: 0;
}

/*---------内側にborder---------*/
.example{
  border: 10px solid gray;
  box-sizing: border-box;
}

/*---------------bxslider基本設定----------------*/
.classname .bx-viewport{
  height: auto!important;
}
.classname .bx-wrapper{
  -moz-box-shadow: none;
  -webkit-box-shadow:none;
  box-shadow: none;
  border: none;
  background:transparent;
}
.classname .bx-wrapper .bx-pager {
  color: #fff;
  padding-top: 30px;
}
.classname .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
}
.classname .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #51b033;
}
.classname .bx-viewport li{
  width: 350px!important;
  margin: 0 calc(50px/6);
}
/* --------------------------タブ切り替え------------------------------ */
<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">総合</label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming">プログラミング</label>
  <input id="design" type="radio" name="tab_item">
  <label class="tab_item" for="design">デザイン</label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp">総合の内容がここに入ります</p>
    </div>
  </div>
  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <p class="c-txtsp">プログラミングの内容がここに入ります</p>
    </div>
  </div>
  <div class="tab_content" id="design_content">
    <div class="tab_content_description">
      <p class="c-txtsp">デザインの内容がここに入ります</p>
    </div>
  </div>
</div>
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}
/*------beforeにfontawesomeを挿入する--------*/
h1:before {
  content: "\f14a";
  font-family: FontAwesome;
}
